@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.calculator {
  box-sizing: border-box;
  padding: 3.5rem;
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px 25px 30% 25px;
}

form {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  position: relative;
}

.inputs-container {
  display: flex;
  gap: 2rem;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 1 144px;
}

.input-container label {
  color: hsl(0, 1%, 44%);
  letter-spacing: 2px;
}

input[type=text] {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  width: 100%;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 7px;
  font-weight: 700;
  outline: none;
}

input[type=text]::placeholder {
  font-size: 2rem;
  color: hsla(0, 1%, 44%, 0.9);
}

input[type=text]:focus {
  border: 1px solid hsl(259, 100%, 65%);
}

.invalid input[type=text]:invalid {
  border: 1px solid hsl(0, 100%, 67%);
}

.invalid label {
  color: hsl(0, 100%, 67%);
}

.error {
  display: none;
  position: absolute;
  bottom: -1.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  width: max-content;
}

.invalid .error {
  display: inline;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 0 0 hsla(0, 0%, 8%, 0.3);
}

button img {
  width: 50%;
  height: auto;
}

.result {
  margin-top: 2.5rem;
}

.text-result {
  display: flex;
  gap: 1rem;
}

.result p {
  font-size: 6rem;
  color: hsl(0, 0%, 8%);
  font-style: italic;
  font-weight: 800;
  line-height: 1.1;
}

.result .data {
  color: hsl(259, 100%, 65%);
}

@media only screen and (max-width: 820px) {
  .calculator {
      width: 94%;
  }
}

@media only screen and (max-width: 720px) {
  form {
      padding-bottom: 3rem;
  }

  .inputs-container {
      gap: 1.5rem;
  }

  input[type=text] {
      padding: 0.7rem;
      font-size: 1.7rem;
  }
  
  input[type=text]::placeholder {
      font-size: 1.7rem;
  }

  .error {
      font-size: 0.7rem;
  }

  button {
      height: 4rem;
      width: 4rem;
      right: calc(50% - 2rem);
      bottom: -2rem;
  }

  .result p {
      font-size: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .calculator {
      padding: 3rem 1.5rem;
  }

  form {
      padding-bottom: 4.5rem;
  }

  .inputs-container {
      gap: 1rem;
  }

  .input-container label {
      font-size: 0.9rem;
  }

  input[type=text] {
      font-size: 1.5rem;
  }
  
  input[type=text]::placeholder {
      font-size: 1.3rem;
  }

  .error {
      font-size: 0.6rem;
      width: auto;
      bottom: -2rem;
  }

  button {
      cursor: auto;
  }

  button img {
      width: 45%;
  }

  .result {
      margin-top: 4rem;
  }

  .result p {
      font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .calculator {
      width: 98%;
      padding: 3rem 0.5rem;
  }

  .result p {
      font-size: 2.5rem;
  }
}

@media (hover: hover) {
  input[type=text]:hover {
    border: 1px solid hsl(259, 100%, 65%);
  }

  button:hover {
    background-color: hsl(0, 0%, 8%);
    box-shadow: 0 0 5px 5px hsla(0, 0%, 8%, 0.3);
  }
}